pkgbase = hercules-stream100
	pkgdesc = OpenStream100 PipeWire controller for Hercules Stream 100 hardware
	pkgver = 0.18.1
	pkgrel = 1
	url = https://github.com/AnaheimTulley/OpenStream100
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = appstream
	makedepends = desktop-file-utils
	makedepends = gcc
	makedepends = pkgconf
	depends = bash
	depends = avahi
	depends = fontconfig
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libpulse
	depends = libusb
	depends = libayatana-appindicator
	depends = pipewire
	depends = pipewire-pulse
	depends = python
	depends = python-gobject
	depends = python-pillow
	depends = python-pyusb
	depends = qrencode
	depends = systemd
	depends = wireplumber
	optdepends = playerctl: media control actions for programmable buttons
	source = hercules-stream100-0.18.1.tar.gz::https://github.com/AnaheimTulley/OpenStream100/releases/download/v0.18.1/hercules-stream100-0.18.1.tar.gz
	source = appstream-metadata.patch
	source = arch-install-path.patch
	sha256sums = 1d789c9814f9259f6e32f6da9962a814afebf4eb7d72a315b1fa8ce36a6926a5
	sha256sums = 9f58463f8ee2bfd099e207136b9308f56c4497984223d0324a658497eb4e24cf
	sha256sums = cdd3b4d39040a63d4394d03a431d0e285334675ba2e5edf18645aaede7486f7a

pkgname = hercules-stream100
