pkgbase = hercules-stream100
	pkgdesc = OpenStream100 PipeWire controller for Hercules Stream 100 hardware
	pkgver = 0.17.0
	pkgrel = 1
	url = https://github.com/AnaheimTulley/OpenStream100
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = appstream
	makedepends = desktop-file-utils
	makedepends = gcc
	makedepends = pkgconf
	depends = bash
	depends = fontconfig
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libpulse
	depends = libusb
	depends = pipewire
	depends = pipewire-pulse
	depends = python
	depends = python-gobject
	depends = python-pillow
	depends = python-pyusb
	depends = systemd
	depends = wireplumber
	optdepends = playerctl: media control actions for programmable buttons
	source = hercules-stream100-0.17.0.tar.gz::https://github.com/AnaheimTulley/OpenStream100/archive/refs/tags/v0.17.0.tar.gz
	source = appstream-metadata.patch
	source = arch-install-path.patch
	sha256sums = aca684ce0deb6d693ea1a42aeefcea64902f24ec9b3ea62c57739ad0ff3062c9
	sha256sums = 9f58463f8ee2bfd099e207136b9308f56c4497984223d0324a658497eb4e24cf
	sha256sums = ace0d0b3117652fea74ce7a8cf06920a9fc20fc05bd91097eb613a03264f636a

pkgname = hercules-stream100
